<div class='container-fluid'>
    <div class="page-header">
        <img style="float: right;" *ngIf="loading" src='assets/images/loading.gif' />
    </div>
   
    <div class="row">
      <div class="input-group input-group-lg col-sm-8 col-md-8">
        <app-flicker-search-tool (loading)="loading = $event" (find)="updateResults($event)"></app-flicker-search-tool>
      </div>
    </div>
    
    <div *ngIf="!error" class="row" style="margin-top:20px">
      <app-flicker-search-result *ngFor="let result of results" [tags]="tags" [result]="result"></app-flicker-search-result>
    </div>
 
    <div *ngIf="error" class="row" style="margin-top:20px center">
      <p>{{error}}</p>
    </div>

  </div>
